# Ignora ambientes virtuais do Python
.venv/
venv/
env/

# Ignora cache do Python
__pycache__/
*.py[cod]
node_modules
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*