/* Reset e configurações globais */
html, body, :root {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #6e5c62;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Cabeçalho do jogo */
.game-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

.game-title {
  font-size: 24px;
  font-weight: bold;
}

/* Exibição da palavra */
.term-display {
  font-size: 40px;
  font-weight: bold;
  color: red;
  margin-top: 120px;
}

/* Seção de dicas */
.hint-section {
  position: relative;
  margin-top: 30px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.hint-category, .hint-example {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.hint-example {
  font-size: 20px;
  margin-top: 10px;
}

/* Container do campo de entrada */
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.input-label {
  font-size: 18px;
  color: white;
}

.input-field {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

/* Container de botões */
.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background-color: #4CAF50;
  color: white;
}

.btn-secondary {
  background-color: #f4f4f4;
  color: black;
  border: 1px solid black;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Exibição do feedback */
.feedback-container {
  position: relative;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.feedback-message {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  max-width: 90%;
}

.feedback-correct {
  color: rgb(8, 252, 8);
}

.feedback-present {
  color: orange;
}

.feedback-absent {
  color: red;
}

/* Responsividade */
@media (max-width: 768px) {
  .term-display {
    font-size: 30px;
  }

  .hint-category, .hint-example {
    font-size: 20px;
  }

  .input-field {
    max-width: 300px;
    font-size: 16px;
  }

  .btn {
    font-size: 14px;
    padding: 12px 20px;
  }
}
